@using Ictshop.Models;
@model List<Sanpham>
<div class="row">
    <div class=" bg-danger"><h3 style="padding-left:20px"> SAMSUNG </h3></div>
    @foreach (var item in Model)
    {
<div class="col-md-3 col-sm-6">
    <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">
        <img src=@Url.Content("~" +item.Anhbia.ToString()) class="img-responsive" alt="" width="400" height="400" />
    </a>
                    <center>
                        <h3> @item.Tensp</h3>
                        <h3 style="color:red">Giá: @String.Format("{0:0,0}", @item.Giatien) VND</h3>
                        <br />
                        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.Masp, @strURL = Request.Url.ToString() }))
                        {
        <input type="submit" value="Mua hàng" id="bgnGioHang" />}

                        @*<h4> <a href="@Url.Action("xemchitiet", new {@Masp=item.Masp })">Xem chi tiết</a></h4>*@


                    </center>

                                </div>
    }


    @*<div class="col-md-3 col-sm-6">
            <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-3 col-sm-6">
            <img src="~/HinhanhSP/ip3.jpg" class="img-responsive" alt="" />
        </div>*@
</div>


