@model IEnumerable<Ictshop.Models.Sanpham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hangsanxuat.Tenhang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hedieuhanh.Tenhdh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tensp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Giatien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thesim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bonhotrong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sanphammoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anhbia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hangsanxuat.Tenhang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hedieuhanh.Tenhdh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tensp)
        </td>
        <td>
            @String.Format("{0:0,0}", item.Giatien) VNĐ
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thesim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bonhotrong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sanphammoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anhbia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Masp }) |
            @Html.ActionLink("Details", "Details", new { id=item.Masp }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Masp })
        </td>
    </tr>
}

</table>
